
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div style="margin-left:5em;margin-top:5em;">
    <h1>Home Page!</h1>

    <div>
        <p>@ViewBag.Message</p>
    </div>


</div>

