
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

@{
    Dictionary<string, object> cart = Context.Session.Get<Dictionary<string, Object>>("cart");
    decimal subtotal = 0.0M;
    decimal tax = 0.0M;
    decimal orderTotal = 0.0M;
    decimal tax_rate = 0.13M;
    decimal extended_price = 0.0M;
}


    <div class="text-center table-title-sm">
        <h3 style="font-weight:bolder">Cart Contents</h3>
        <img src="/img/cart.png" style="height:10%;width:10%;padding-bottom:5%;" />
    </div>


<div class="col-xs-12 col-sm-10 col-sm-offset-1 table-responsive">
    <table class="table table-striped ">
        <thead>
            <tr>
                <th>Code</th>
                <th>Product Name</th>
                <th>MSRP</th>
                <th>Qty</th>
                <th>Extended</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (cart != null)
                {
                    foreach (var key in cart.Keys)
                    {
                        ProductViewModel product = JsonConvert.DeserializeObject<ProductViewModel>(Convert.ToString(cart[key]));
                        if (product.Qty > 0)
                        {
                            subtotal += (product.MSRP * product.Qty);
                            extended_price = product.MSRP * product.Qty;
                            <tr>
                                <td>@product.Id</td>
                                <td>@product.ProductName</td>
                                <td>$@product.MSRP.ToString("#,##.00")</td>
                                <td style="width:10%">@product.Qty</td>
                                <td>$@extended_price.ToString("#,##.00")</td>
                            </tr>
                        }
                    }
                    tax = subtotal * tax_rate;
                    orderTotal = subtotal + tax;
                }
            }

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><h5>Subtotal</h5></td>
                <td><h5><strong>$@subtotal.ToString("#,##.00")</strong></h5></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><h5>Tax</h5></td>
                <td><h5><strong>$@tax.ToString("#,##.00")</strong></h5></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><h5>Total</h5></td>
                <td><h5><strong>$@orderTotal.ToString("#,##.00")</strong></h5></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="/Brand" class="btn btn-default">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-success">
                        Add Order <span class="glyphicon glyphicon-play"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>



