.db-pricing-seven {
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    border: 1px solid #C5C2C2;
    background-color: #EDEDED;
}

.db-pricing-seven ul {
    list-style: none;
    margin: 0;
    text-align: center;
    padding-left: 0px;
}

.db-pricing-seven ul li {
    border-bottom: solid 1px #D8D8D8;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.db-pricing-seven ul li.price {
    background-color: #fff;
    padding: 5px 20px 20px 20px;
    font-size: 20px;
    font-weight: 900;
    color: #353c3e;
    font-weight: 900;
}

.db-pricing-seven .pricing-footer {
    padding: 20px;
}

.db-pricing-seven .pricing-footer a i {
    margin: 5px;
    top: 3px;
}

@media screen and (max-width: 900px) {
    .table-title-sm {
        margin-top: 60px;
    }

    .nav-tabs > li {
        width: 30%;
    }
}

.nav-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    zoom: 1; /* hasLayout ie7 trigger */
}

.nav-tabs > li > a {
    padding-top: 0px;
}

.nav-tabs, .nav-pills {
    text-align: center;
}

